[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
py-cord = {extras = ["voice"], version = "*"}
gtts = "*"
python-dotenv = "*"
ffmpeg = "*"
install = "*"

[dev-packages]

[requires]
python_version = "3.10"
